/* ------------------------------------------------------ */
/* BOX MODEL HACK */
/* ------------------------------------------------------ */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* ------------------------------------------------------ */
/* COLOR DECLARATION */
/* ------------------------------------------------------ */
:root{
    /* FOR HOME TRANSPARENCY BACKGROUNDS */
    --green-transparent-dark: rgba(36, 49, 39, .97);
    --green-transparent-light: rgba(36, 49, 39, .87);
    --sea-foam-transparent-dark: rgba(175, 188, 177, .97);
    --sea-foam-transparent-light: rgba(175, 188, 177, .87);
    --dark-green: #243127;
    --red: #96262c;
    --sea-foam: #afbcb1;
    --off-white: #f3f0e4;
}

/* ------------------------------------------------------ */
/* CUSTOM PARALLAX */
/* ------------------------------------------------------ */
.px-override {
    height: 90vh;
}

.px-override div {
    background-size: cover;
}

.px-override div div {
    height: 100%;
    width: 50%; 
}

.px-left div {
    justify-content: flex-start;
}

.px-right div {
    justify-content: flex-end;
}

.px-right div div {
    background: linear-gradient(
        to left,
        var(--sea-foam-transparent-dark) 50%, 
        var(--sea-foam-transparent-light), 
        transparent 100%
    );
}

.px-left div div {
    background: linear-gradient(
        to right,
        var(--green-transparent-dark) 50%, 
        var(--green-transparent-light), 
        transparent 100%
    );
}